.NoteItem {
    padding: 10px;
    border: 1px solid #212021;
    background-color: #EBE8DE;
    margin: 5px;
    display: grid;
    grid-template-areas: 'a b c';
    grid-template-columns: 3fr 3fr 1fr;
}

.NoteItem > a {
    color: #212021;
}

.NoteItem__del-button {
    background-color: #77776F;
    padding: 3px;
    height: 50%;
    min-height: 30px;
    border-radius: 5%;
}

h3, h4 {
    margin: 0;
    padding: 3px;
    position: relative;
    line-height: 500%;
}


@media all and (min-width:600px) {
    .NoteItem {
        padding: 20px;
        min-height: 70px;
    }
}